[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
graphene_spike = {editable = true,extras = ["dev"],path = "."}

[packages]
graphene_spike = {editable = true,path = "."}

[requires]
python_version = "3.6"
